.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.video-list .video-card {
  max-width: 350px;
  height: 300px;
}

.video-list .video-card .card-img {
  max-height: 215px;
}
