@import url('./_reset.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Outfit', 'Red Hat Display', sans-serif;
}

/* Overrides */
.btn {
  transition: all 0.1s ease-in-out;
}

.btn-gray:hover {
  outline: 2px solid var(--color-gray);
  background-color: var(--color-gray);
  outline-offset: 2px;
}

hr {
  height: 2px;
  background-color: var(--color-gray);
}

a:any-link,
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.input {
  border-radius: 0;
}

.card.outlined-card {
  border: 2px solid var(--color-gray);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-light);
}

/* Scrollbar styles for Firefox */
@supports (scrollbar-color: black white) {
  * {
    scrollbar-color: var(--color-gray) var(--color-secondary);
    scrollbar-width: thin;
  }
}
